

.register{
    background: linear-gradient(135deg, purple, cyan);
    height: 100vh;
    justify-content: center;
}
.register .container{
    justify-content: center;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 100px;
}
.register__container{
    width: 85%;
    height: 80%;
    background-color: #fff;
    border-radius: 20px;
}
.register__container--present{
    border-radius: 20px 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.register__container--present a{

    text-decoration-color: #090d79;
}
.register__container--present h2{
    color: rgb(29, 29, 29);
}
.register__container--present *{
    text-align: center;
}
.register__container--register{
    position: relative;
    border-radius: 0 20px 20px 0;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
/* los botones de los pasos */
.register__container--register .register__steps{
    display: flex;
    gap: 50px;
    position: absolute;
    top: 20px;
}
.register__container--register .register__steps--number{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.register__container--register .register__steps--number::after{
    position: absolute;
    content: '';
    width: 35px;
    height: 3px;
    border-radius: 10px;
    background-color: rgb(29, 29, 29, 0.5);
    right: -42px;
}
.register__container--register .register__steps--number:last-child::after{
    display: none;
}

.register__container--register .register__steps--number p{
    font-weight: 600;
    color: rgb(29, 29, 29, 0.5);
}
.register__container--register .register__steps--number.active::after{
    background-color: purple;
}
.register__container--register .register__steps--number.active p{
    font-weight: 600;
    color: purple;
}
/*  */
.register__container--register form{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.register__container--register .form{
    overflow: hidden;

}
.register__container--register label{
    color:  rgb(29, 29, 29);
    margin-top: 10px;
    font-weight: 600;
}
.register__container--register input{
    outline: none;
    border: none;
    border-bottom: 3px solid purple;
    border-radius: 3px;
    margin-bottom: 5px;
    padding: 5px 10px 5px 0;
    width: 300px;
}
.register__container--register input[type="checkbox"]{
    width: auto;
    margin: 0 10px 0 0;
    accent-color: purple;
}
.register__container--register input::placeholder{
    color: purple;
}
.register__container--register input:focus{
    color: rgb(107, 2, 107);

    text-shadow: 0 1px 30px purple;
}
.register__container--register button{
    background: linear-gradient(135deg, purple, cyan);
    border: none;
    margin-top: 20px;
    color: #fff;
}
.register__container--register button:hover{
    background-color: #070a57;
    color: rgb(219, 219, 219);
}
/* botones de atras y siguiente */
.register__container--register form .btn-down{
    background: #dc3545;
}
.register__container--register form .btn-up{
    background: #198754;
}

@media(max-width: 925px){
    .register__container{
        padding: 30px;
    }
    .register__container--present{
        border: none;
    }
    .register__container--register{
        border-bottom-left-radius: 20px;
    }
    .register__container--register form{
        width: 100%;
    }
    .register__container--register input{
        display: flex;
        width: 328px;
    }
    .register__container--register label{
        width: 328px;
    }
    .register__container--register .register__steps{
        top: -10px;
    }
}
@media(max-width: 767px){
    .register{
        height: 110vh;
    }
    .register__container{
        height: auto;
    }
    .register__container--register input{
        display: flex;
        width: 547px;
    }
    .register__container--register label{
        width: 547px;
    }
    .register__container--register{
        margin-top: 50px;
    }
    .register__container--register .register__steps{
        top: -40px;
    }
}
@media(max-width: 420px){
    .register__container{
        height: auto;
    }
    .register__container--present h4{
        font-size: 17px;
    }
}
@media(max-width: 356px){
    .register__container--present h4{
        font-size: 14px;
    }
    .register__container--present p{
        font-size: 12px;
    }
    .register__container--register label{
        font-size: 12px;

    }
    .register__container--register input{
        width: 100%;
    }
    .register__container--register input::placeholder{
        font-size: 12px;
    }

    .register__container--register p{
        font-size: 12px;
    }
}
@media(max-width: 330px){
    .register__container{
        padding: 30px 10px;
    }
}
