

/* product__content ---------------------------*/
.product__content{
  padding: 5px;
  display: flex !important;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
}

  /* product__content--header ---------------------------*/
  .product__content--header{
      display: flex;
      justify-content: space-between;
  }
  .product__content--header h6{
      font-size: 14px;
      color: rgb(48, 48, 48);
      margin: 0;
  }
  .product__content--header .price span{
      color: rgb(255, 0, 0);
      font-family: 'FontAwesome';
      font-size: 14px;
      font-weight: 700;
  }
  .product__content--header .price p{
      color: rgba(0, 0, 0, 0.555);
      font-size: 12px;
      text-align: end;
      text-decoration: line-through;
      margin: 0;
  }

  /* product__content--body ---------------------------*/
.product__content--body{
  display: flex;
  flex-direction: column;
}

.product__content--body .options{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product__content--body .options__colors,
.product__content--body .options__sizes{
  display: flex;
  gap: 3px;
}
.product__content--body .options__colors--color,
.product__content--body .options__sizes--size{
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.171);
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .options__colors--color.red{
      border: 2px solid red;
      background-color: rgba(255, 0, 0, 0.355);
  }
  .options__colors--color.green{
      border: 2px solid green;
      background-color: rgba(0, 128, 0, 0.355);
  }
  .options__colors--color.blue{
      border: 2px solid blue;
      background-color: rgba(0, 0, 255, 0.355);
  }
  .options__colors--color.brown{
      border: 2px solid rgb(165, 42, 42);
      background-color: rgba(165, 42, 42, 0.355);
  }
  .options__colors--color.yellow{
      border: 2px solid rgb(255, 255, 0);
      background-color: rgba(255, 255, 0, 0.355);
  }
  .options__colors--color.purple{
      border: 2px solid rgb(128, 0, 128);
      background-color: rgba(128, 0, 128, 0.355);
  }
  
